<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileTransfer.Program" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FileTransfer.Program>
			<add key="ClientId" value="[Your Client ID]" />
			<add key="ClientSecret" value="[Your Client Secret]" />
			
			<setting name="SystemPrefix" serializeAs="String">
                <value>.xft_</value>
            </setting>
            <setting name="ProcessDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReplayCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoggingLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Interactive" serializeAs="String">
                <value>False</value>
            </setting>
        </FileTransfer.Program>
    </applicationSettings>
</configuration>